html, body {
    width: 100%;
    height: 100%;

    margin: 0;
}

body {
    background-image: url("main-menu/sky.png");
    background-size: 100% 100%;

    color: #B130D4;
    font-family: 'Chicle', cursive, fantasy;

    /*animation: stars 40s linear infinite;*/
}

@keyframes stars {
    from { background-position-x: 0;}
    to { background-position: -100vw;}
}

header {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    flex-direction: column;
}

article {
    width: 100%;
    height: 30%;
    z-index: 9999;
}

.content {
    padding-top: 5vh;
    width: 100%;
    hight: 100%;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    flex-direction: column;
}

.tittle {
    padding-top: 3vh;
    font-size: 10vh;
}

.content {
    width: 100%;
    height: 75%;
}

footer {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: flex-end;    /*Центрирование по вертикали */

    background-image: url("mid_ground.png");
    background-size: 100% 90%;
}

.footer__fore {
    width: 100%;
    height: 40%;
    background-image: url("fore_ground.png");
    background-size: 100% 100%;
}
