html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */

    background-image: url("sky.png");
    background-size: 100% 100%;

    flex-direction: column;

    /*animation: stars 60s linear infinite;
*/
    color: #B130D4;
    font-family: 'Chicle', cursive, fantasy;

    margin: 0;
}

@keyframes stars {
    from { background-position: 0 100%; }
    to { background-position: -3644px 100%, 0 0;}
}

header {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    flex-direction: column;
}

article {
    width: 100%;
    height: 55%;

    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    flex-direction: column;

    z-index: 9999;
}

.content {
    width: 100%;
    hight: 100%;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    flex-direction: column;
}

.tittle {
    width: 100%;
    height: 25%;

    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */

    font-size: 50pt;
}

.content {
    width: 100%;
    height: 75%;
}

footer {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: flex-end;    /*Центрирование по вертикали */

    background-image: url("mid_ground.png");
    background-size: 100% 90%;
}

.footer__fore {
    width: 100%;
    height: 40%;
    background-image: url("fore_ground.png");
    background-size: 100% 100%;
}